img {
    width: 300px;
    height: 100%;
    object-fit: contain;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
}

.center {
    text-align: center;
}